#navbar-container{
  #routing-list{
    list-style: none;
    a.active-link{
      font-weight: bold;
      border-bottom: 2px solid black;
    }
  }
  a{
    text-decoration: none;
    color: black;
  }
}

@media (min-width: 1335px){
  .custom-padding{
    padding: 0 10rem;
  }
}

