#images-container{
  border: 1px dotted rgb(229, 229, 229);
}

#description-container{
  color: grey;
  line-height: 25px;
}

#first-row{
  border-bottom: 3px solid black;
}

.img-up{
  border-right: 3px solid black;
}
