<div id="home-container" class="flex flex-column align-items-center">

  <!-- images -->
  <div id="images-container" class="flex flex-column flex-wrap max-w-max p-2 mb-5">
    <div id="first-row" class="flex justify-content-center flex-wrap">
      @for (model_image of modelsArrayFirstRow; track $index; let lastRow = $last) {
        <img [src]="model_image" alt="model_1_face" width="200px" height="200px" [ngClass]="{'img-up': !lastRow}" >
      }
    </div>
    <div id="second-row" class="flex justify-content-center flex-wrap">
      @for (model_image of modelsArraySecondRow; track $index; let lastRow = $last) {
        <img [src]="model_image" alt="model_1_face" width="200px" height="200px" [ngClass]="{'img-up': !lastRow}" >
      }
    </div>
  </div>

  <!-- text description -->
  <div id="description-container" class="text-center">
    <p>Mi chiamo Fabiana e sono una make up artist con un bel culetto</p>
    <p>Ho fatto un corso a Roma e adesso so fare i trucchetti pure alle cappelle</p>
  </div>

</div>
