<div id="home-container">

  <!-- images -->
  <div id="images-container" class="flex-center">
    <div id="first-row" class="flex-center">
      <img src="https://i.imgur.com/JmuGIqO.jpg" alt="model_1_face" width="200px" height="200px" class="img-up" >
      <img src="https://i.imgur.com/eCZAQgc.jpeg" alt="model_1_face" width="200px" height="200px" class="img-up" >
      <img src="https://i.imgur.com/xMl96mB.jpeg" alt="model_1_face" width="200px" height="200px" class="img-up" >
      <img src="https://i.imgur.com/xd63TN9.jpeg" alt="model_1_face" width="200px" height="200px" >
    </div>
    <div id="second-row" class="flex-center">
      <img src="https://i.imgur.com/nqn9JHF.jpeg" alt="model_1_face" width="200px" height="200px" class="img-up" >
      <img src="https://i.imgur.com/KBzgSrW.jpeg" alt="model_1_face" width="200px" height="200px" class="img-up" >
      <img src="https://i.imgur.com/FLrVUnR.jpeg" alt="model_1_face" width="200px" height="200px" class="img-up" >
      <img src="https://i.imgur.com/2tkY50X.jpeg" alt="model_1_face" width="200px" height="200px" >
    </div>
  </div>

  <!-- text description -->
  <div id="description-container">
    <p>Ciao sono Fabiana Maggi e mi piace fare sesso con i canguri. Ogni tanto faccio cacca in giro, ma nulla di serio.</p>
    <p>Diciamo che alla fine so solo un pò rincoglionita.</p>
  </div>

</div>
