<div id="home-container" class="flex flex-column align-items-center">

  <div id="img-main" class="flex w-full mb-6"></div>

  <p class="text-xl px-3 mb-8">
    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit, amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur.
  </p>

  <div class="felx-column sm:flex w-full mt-8 mb-8">
    <p class="sm:hidden text-3xl font-bold text-center w-full mb-6">TRUCCO SPOSA</p>

    <div id="img-sposa" class="flex mb-5 sm:mr-6 sm:mb-0"></div>
    <div class="flex flex-column w-full">
      <p class="hidden sm:block text-3xl font-bold text-center sm:text-start w-full mb-6">TRUCCO SPOSA</p>
      <p class="flex-1 text-justify" >{{ testoSposa }}</p>
    </div>
  </div>

  <div class="felx-column sm:flex w-full mt-8">

    <div class="flex flex-column w-full">
      <p class="text-3xl font-bold text-center sm:text-start w-full mb-6">TRUCCO MODA</p>
      <p class="hidden sm:block text-justify" >{{ testoModa }}</p>
    </div>

    <div id="img-moda" class="flex mb-5 sm:ml-6 sm:mb-0"></div>

    <p class="sm:hidden flex flex-1 text-justify" >{{ testoModa }}</p>

  </div>

</div>
