#images-container{
  border: 1px dotted rgb(229, 229, 229);
}

#description-container{
  color: grey;
  line-height: 25px;
}

#first-row{
  border-bottom: 3px solid black;
}

.img-up{
  border-right: 3px solid black;
}

#img-main{
  background-image: url('https://i.imgur.com/8UGBczZ.jpeg');
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 500px;
}
